OpenLibra.xcworkspace/xcuserdata/vbergae.xcuserdatad/UserInterfaceState.xcuserstate
OpenLibra.xcworkspace/xcuserdata/vbergae.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
OpenLibraClient/OpenLibraClient.xcodeproj/xcuserdata/vbergae.xcuserdatad/xcschemes/OpenLibraClient.xcscheme
OpenLibraClient/OpenLibraClient.xcodeproj/xcuserdata/vbergae.xcuserdatad/xcschemes/xcschememanagement.plist
OpenLibraClient/OpenLibraClient.xcodeproj/xcuserdata/vbergae.xcuserdatad/UserInterfaceState.xcuserstate
OpenLibraDesktop/
.DS_Store
